@mixin save-btn {
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);
    border-radius: 5px;
    padding: 6px 24px;
    margin-right: 25px;
    font-size: 12px;

    &:hover {
        background-color: var(--btn-text-color);
        color: #fff;
        border: 1px solid;
        border-color: var(--font-color);
    }
}

@mixin btn-close {
    font-size: 12px;
    color: var(--secondary-color);
    cursor: pointer;
}

@mixin cancel-btn {
    background-color: var(--primary-color);
    color: var(--bg-color);
    border-radius: 5px;
    padding: 6px 22px;
    margin-right: 25px;
    font-size: 12px;

    &:hover {
        background-color: var(--btn-background-color);
        color: var(--primary-color);
        border: 1px solid;
        border-color: var(--primary-color);
    }
}

@mixin search-text {
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);
    border: 1px solid #238A8C;
    border-radius: 3px;
    font-size: 14px;
    padding: 10px 30px;

    &:hover {
        background-color: var(--btn-text-color);
        color: #fff;
        border: 1px solid;
        border-color: var(--font-color);
    }
}



