@mixin table {
    thead {
        background-color: #F5F6FA;
        font-size: 14px;
        border-style: none !important;
    
        tr {
            border-style: none !important
        }
    }
    
    tbody {
        th {
            border-style: none !important;
            font-size: 14px !important;
        }
    
        td {
            font-size: 12px !important;
            color: var(--font-color);
        }
        
        .material-icons {
            font-size: 12px;
            cursor: pointer;
        }
    
        .material-icons-round {
            font-size: 18px;
            cursor: pointer;
            color: #238A8C;
        }
    }
}